* {
    box-sizing: border-box;
   
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.nav {
    background-color: black;
    color: #fff;
    padding: 2% 0;
    text-align: center;
    margin: -2.5%;
    margin-top: -1vw;
    max-height: 9vh;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 4%;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin-top: -3vh;
    font-weight: bold;
    font-size: 14px;
    padding: 1.1rem;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ffd700;
}


@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    #login,
    #signup {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.logo {
    width: 104px;
    height: 91px;
    position: relative;
    left: revert-layer;
    margin: -37px;
    padding: 1vw;
    border-radius: 50%;
}

#login {
    border: 3px solid black;
    border-radius: 6px;
    width: 114px;
    height: 35px;
    position: relative;
    left: 14vw;
}

#signup {
    border: 3px solid black;
    border-radius: 6px;
    width: 114px;
    height: 35px;
    position: relative;
    left: 15vw;
}


.ed {
    margin-top: 3vw;
}

#htmlBasics{
    background-color: black;
    color: white;
}

#commonTags{
    background-color: black;
    color: white;
}

#examplePage{
    background-color: black;
    color: white;
}

#para{
    background-color: black;
    color: white;
}

#unorder{
    background-color: black;
    color: white;
}

#order{
    background-color: black;
    color: white;
}

#links{
    background-color: black;
    color: white;
}

#images{
    background-color: black;
    color: white;
}