html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  table {
    left: 476px;
    position: fixed;
    margin-top: 6px;
    left: 520px;
  }

  td {
    display: flex;
    text-align: center;
    margin: 2px 5px;
  }


  .form {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 13px;
    border-width: 50%;
    width: 34%;
    display: flex;
    left: 456px;
    position: absolute;
    height: 54%;
    margin-top: 12%;
  }

  .test {
    margin-top: 27%;
    position: absolute;
  }


  .SignUp {
    cursor: pointer;
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(13, 13, 13);
    border-radius: 13px;
    color: black;
    font-size: 20px;
    font-family: "montserrat";
    box-sizing: border-box;
    border-block-end-width: 4px;
    transition: 0.5s;
    box-shadow: 0 5px 0 solid gray;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    margin: -5px;
    left: 669px;
    position: fixed;
    color: white;
  }


  .SignUp:active {
    box-shadow: none;
    transform: translateY(10px);
  }

  .SignUp:hover {
    background-color:rgb(24, 195, 233);
    color: white;
    cursor: pointer;
  }

  .checkbox {
    margin-top: 47px;
    justify-content: space-around;
    display: flex;
  }

  .socialmedia,
  img {
    height: 50px;
    width: 49px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 146px;
    padding: 5px;
  }

  .username{
    border-radius: 11px;
    height: 36px;
    width: 340px;
    margin: 3px;
    text-align: center;
  }


  .email{
    border-radius: 11px;
    height: 36px;
    width: 340px;
   margin: 3px;
   text-align: center;
  }


  .password{
    border-radius: 11px;
    height: 36px;
    width: 340px;
    margin: 3px;
    text-align: center;
  }
